dj-rest-auth 
Django 
django-allauth 
"django-allauth[socialaccount]"
django-cors-headers 
djangorestframework 
djangorestframework-simplejwt 
drf-spectacular 
pillow 
sqlparse 
django-filter
